 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0.7vw;
    background-color: rgb(248, 232, 217);
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

.nav a:hover {
    color: blueviolet;
    text-decoration: underline;
}

.account ul {
    display: flex;
    align-items: center;
}

.account ul li {
    padding: 0 15px;
    font-size: 18px;
}

.search {
    display: none;
    width: 200px;
    justify-content: center;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 40px;
    width: 100%;
    outline: none;
}

.srchicon {
    background-color: rgb(255, 210, 210);
    display: block;
    padding: 4px 5px;
    cursor: pointer;
}

.bar {
    display: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: rgb(252, 231, 216);
    box-shadow: 0 2px 15px rgb(252, 193, 169);
}

.dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.dropdown-menu li {
    width: 96vw;
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 15px;
}

.dropdown-menu a:hover {
    color: blueviolet;
    text-decoration: underline;
}
.home{
    background-color: rgb(248, 232,217);
    padding:0 7vw ;
}
.main_slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.main_slide div:nth-child(2){
    flex:1;
    display: flex;
    justify-content: center ;
    padding-top: 40px;
}
.main_slide div:nth-child(1){
    flex: 1;
    padding-top: 20px;
    font-size: 30px;


}
.main_slide div:nth-child(1) p{
    font-size: 13px;
    padding: 20px 0;
}
.main_slide div:nth-child(1) span{
    color:rgb(253, 57, 8) ;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:rgb(253, 176, 34) ;
}
.red_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color:rgb(253,77,8) ;
    border-radius: 5px;
    border: 1px solid rgb(253,77,8);
    box-shadow:0 10px 15px rgb(250,120,69) ;
    transition: all 0.2s;
}
.red_btn i{
    color:white;


}
.red_btn:hover{
    background-color: white;
    box-shadow: 0 2px 15px rgb(250, 120, 69);
    border:1px solid rgb(253,77,8); 
    color: rgb(253,77,8);
}
.red_btn:hover i{
    color: rgb(253,77,8);

}
@media (max-width: 1024px) {
    .main_slide {
        flex-direction: column;
        align-items: center;
    }

    .main_slide div:nth-child(1), .main_slide div:nth-child(2) {
        flex: unset;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    .main_slide div:nth-child(1) {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .home {
        padding: 0 5vw;
    }

    .main_slide div:nth-child(1) {
        font-size: 24px;
    }

    .main_slide div:nth-child(1) p {
        font-size: 12px;
    }

    .red_btn {
        width: 140px;
        line-height: 45px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .home {
        padding: 0 3vw;
    }

    .main_slide div:nth-child(1) {
        font-size: 22px;
    }

    .main_slide div:nth-child(1) p {
        font-size: 11px;
        padding: 15px 0;
    }

    .red_btn {
        width: 120px;
        line-height: 40px;
        font-size: 12px;
    }
}

.food-items{
    margin: 70px 0;
    padding: 20px 0;
    background-color: white;
    border-radius:30px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.item{
    width: 100%;
    max-width: 250px;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 30%;
    
    transition: transform 0.3s ease;

}
.item:hover {
    transform: translateY(-10px);
}
.item div{
    height: 160px;
}
.item img{
    width: 160px;
    margin-bottom: 15px;

}
.item h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}
.item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;


}
.white_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: rgb(253, 77, 8);
    line-height: 50px;
    border: 1px solid rgb(253, 77, 8) ;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgb(250,120,69);
    transition: all 0.2s;
}
.item .red_btn, .item .white_btn{
    width:120px ;
    line-height: 35px;   
}
.item .white_btn:hover {
    background-color:rgb(253, 77, 8)  ;
    color: #fff;
    box-shadow: 0 10px 15px rgb(250,120,60);
}
@media (max-width: 1024px) {
    .item {
        width: 45%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .food-items {
        margin: 50px 10px;
        padding: 15px 10px;
    }

    .item {
        padding: 20px;
    }

    .white_btn, .red_btn {
        width: 100%;
        line-height: 40px;
    }
}
.main_slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;
   


}
.foodimg{
    flex: 0.5;
    
}
.foodimg img{
    max-width: 500px;
    width: 45vw;
    border-radius: 50%;

}
.question{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
    

}
.question h2{
    font-size:35px ;
    margin-bottom: 15px;

}
.q-ans{
    display:flex ;
    justify-content: flex-start;
    align-items: center;
   
    margin-right: 20px;
   

}
.q-ans img{
    width:45px ;

}
.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align:center ;
    background-color: #fff;
    margin-right: 20px;


}
.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;

}
.q-ans div:nth-child(2)p{
    margin-top: 10px;
    font-size: 13px;
   
    
}
@media (max-width: 1024px) {
    .main_slide2 {
        flex-direction: column;
        align-items: center;
    }

    .foodimg, .question {
        flex: 1;
        margin: 20px 0;
        text-align: center;
    }

    .question {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .question h2 {
        font-size: 28px;
    }

    .q-ans img {
        width: 40px;
    }

    .q-ans div:first-child {
        height: 55px;
    }

    .q-ans div:nth-child(2) p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .main_slide2 {
        margin: 40px 0;
    }

    .foodimg img {
        max-width: 100%;
        width: 70vw;
    }

    .question h2 {
        font-size: 24px;
    }

    .q-ans img {
        width: 35px;
    }

    .q-ans div:first-child {
        height: 50px;
    }

    .q-ans div:nth-child(2) p {
        font-size: 11px;
    }
}
.main_slide3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;

}
.main_slide3 .fav-head{
    text-align: center;
    width: 450px;
    margin-bottom:30px ;
}
.main_slide3 .fav-head h3{
    font-size: 30px;
    padding: 20px 0;
}
.main_slide3 .fav-head p{
    font-size: 13px;
    text-align: center;

}
.main_slide3 .fav-food{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}
.main_slide3 .fav-food .item{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow:0 2px 10px rgb(119,119,0.438) ;
    width: 220px;
    padding:15px ;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}
.main_slide3 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;

}
.main_slide3 .fav-food .item p{
    width: 160px;
    margin-bottom: 15px;

}
.main_slide3 .fav-price{
    color:red;
    font-weight: bold;
    font-size: 15px;

}
.main_slide3 .dsgn{
    background-color:rgb(255, 214, 176) ;
    height:50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius:10px ;

}
@media (max-width: 768px) {
    .main_slide3 {
        margin-top:100px ;
    }
    .main_slide3 .dsgn{
        height: 60%;

    }
    .main_slide3 .fav-head{
        width: 80%;
        margin-bottom: 20px;
    }
   

}

@media (max-width: 480px) {
    .main_slide3 .fav-head{
        width: 100%;
    }
    
    .main_slide3 .fav-food .item {
        width: 150px;
    }

    .main_slide3 .fav-head h3 {
        font-size: 25px;
    }
    .main_slide3 .fav-head p {
        font-size: 11px;
    }
    .main_slide3 .dsgn{
        display: none;

    }

   
}
.main_slide4 {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   
}

.main_slide4 .chef-feed {
    flex: 1;
    margin-right: 20px;
}

.main_slide4 .chef {
    flex: 1;
    text-align: right;
}

.main_slide4 .chef img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.main_slide4 .chef-feed h2 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #333;
    font-weight: bold;
}

.main_slide4 .chef-feed p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #666;
}

.chef-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chef-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chef-details h6 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.chef-details p {
    
    margin: 0;
    font-size: 14px;
    color:red;
}

.chef-vic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 219, 185); 
    padding: 25px 20px;
    border-radius:0 100px 0 0;
    margin-top: 40px;
   
   
}

.chef-vic div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
}

.chef-vic h4 {
    margin: 10px 0;
    font-size: 22px;
    color: #e74c3c; 
}

.chef-vic p {
    padding-top: 40px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #333;
}


.chef-vic i {
    font-size: 24px;
    color: #333;
}

@media (max-width: 768px) {
    .main_slide4 {
        flex-direction: column;
        text-align: center;
    }

    .main_slide4 .chef {
        margin-top: 30px;
        text-align: center;
    }

    .chef-vic {
        flex-direction: column;
        margin-top: 20px;
    }

    .chef-vic div {
        margin-bottom: 15px;
    }
}
.subscribe-section {
    margin: 60px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}

.subscribe-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.subscribe-section h2 span {
    color: #e74c3c; 
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
    background: rgb(255, 219, 185);
}

.subscribe-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
@media (max-width: 768px) {
    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-form input[type="email"],
    .subscribe-form button {
        width: 100%;
        border-radius: 5px;
        margin: 5px 0; 
    }

    .subscribe-form input[type="email"] {
        border-radius: 5px; 
    }

    .subscribe-form button {
        border-radius: 5px;
        width: 100%;
    }
}


.footer-nav {
    width: 100%;
    background-color:rgb(236, 207, 170);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ccc; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    text-align: left;
}

.footer-section h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-section a {
    color: #333;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section:last-child {
    text-align: right;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-section:last-child {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .nav {
        display: none;
    }
    .dropdown-menu {
        display: block;
    }
    .main_slide {
        flex-direction: column;
        align-items: center;
    }
    .main_slide div:nth-child(2) {
        padding-top: 20px;
    }
}
























@media only screen and (max-width: 800px) {
    .nav, .account {
        display: none;
    }
    .bar {
        display: block;
    }
    .item img{
        width: 60px;
    }
    .foodimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
        
    
    }
    .food-items img{
        width: 70vw;
    }
    .question{
        flex:1;
        margin-top: 30px;

    }
    .question h2{
        font-size: 25px;

    }
    .q-ans div:nth-child(2)p{
        font: size 11px;

    }
}
@media only screen and (max-width: 550px) {
    .main_slide div:nth-child(1){
        font-size: 18px;

    }
    .main_slide div:nth-child(1) p{
        padding-top: 5px;
        margin: 10px 0;
        font-size: 11px;

    }
    .red_btn{
        margin-top: 10px;
        width: 120px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 10px;

    }
    .main_slide div:nth-child(1) span{
        text-underline-offset: 5px;
    }
    .main_slide div:nth-child(2) img{
        width: 70vw;
        
    }
    


    
}
